ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: navy;

	width:400px;

	margin-left:390px;

}



li {

    float: left;

	margin-left:30px;

}



li a {

    display: block;

    color: #FF1493;

    text-align: center;

    padding: 16px;

    text-decoration: none;

}





li a.active {

    background-color: green;

    color: white;

}

 

.button {

  padding: 15px 25px;

  font-size: 24px;

  text-align: center;

  cursor: pointer;

  outline: none;

  color: PINK;

  background-color: BLACK;

  border: none;

  border-radius: 15px;

  box-shadow: 0 9px #999;

}



.button:hover {background-color: green}



.button:active {

  background-color:red;

  box-shadow: 0 5px #666;

  transform: translateY(4px);

}
